*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
.block{
    width: 800px;
    background-color: bisque;
    border-radius: 10px;
}
.block h1{
    margin-bottom: 10px;
}
.text {
    display: flex;
}
.text p{
    font-size: 22px;
    font-style: italic;
}
.text img{
    width: 50%;
    border-radius: 10px;
}